<ion-view view-title="设置" class="animated bounceInLeft">
    <ion-nav-bar class="bar-calm themeColor"></ion-nav-bar>
    <ion-nav-buttons>
        <div class="button-bar item-button-left item-button-right">
            <button class="button button-icon button-clear ion-more" menu-toggle="left"></button>
            <button class="button button-clear" ui-sref="tabs.whatsNew">
                <i class="icon ion-android-home"></i>
            </button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <ul class="list">
            <li class="item item-toggle">
                接受新消息通知
                <label class="toggle toggle-dark">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                通知显示消息信息
                <label class="toggle toggle-dark">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                声音
                <label class="toggle toggle-dark">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                振动
                <label class="toggle toggle-dark">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
    </ion-content>
</ion-view>