<ion-view id="myself">
    <ion-content>
        <img src="images/my13_02.jpg" alt="" style="width: 100%;">
        <img src="images/my5.jpg" alt="" style="width: 100%;">
        <img src="images/my14.jpg" alt="" style="width: 100%;">
        <img src="images/my10.jpg" alt="" style="width: 100%;">
        <img src="images/my11.jpg" alt="" style="width: 100%;">
        <img src="images/my12.jpg" alt="" style="width: 100%;">
        <img src="images/my2_02.jpg" alt="" style="width: 100%;">
    </ion-content>
</ion-view>