<ion-view id="search">
    <ion-content>
        <label class="item-input-wrapper">
            <span >宝贝</span>
            <a class=" icon ion-android-arrow-dropdown xl"></a>
            <input  type="text" placeholder="搜索"/>
            <a class="qx" href="#/tabs/love">取消</a>
        </label>
        <i class="icon ion-ios-flame-outline rm" style=""></i>
        <span class="rm" style="line-height: 40px;color: #666;">热门搜索</span>
        <ul class="buttons row" >
            <li class="button  col button-clear"><a href="" style="color: #ff4f79;">连衣裙</a></li>
            <li class="button  col button-clear"><a href="">拖鞋</a></li>
            <li class="button col button-clear"><a href="" >短裤</a></li>
            <li class="button col button-clear"><a href="" style="color: #ff4f79;">套装</a></li>
            <li class="button  col button-clear"><a href="">泳衣</a></li>
        </ul>
        <ul class="buttons row">
            <li class="button  col button-clear"><a href="" >长裙</a></li>
            <li class="button  col button-clear"><a href="">睡衣</a></li>
            <li class="button col button-clear"><a href="" style="color: #ff4f79;">凉鞋</a></li>
            <li class="button col button-clear"><a href="">帽子</a></li>
            <li class="button  col button-clear"><a href="" style="color: #ff4f79;">双肩包</a></li>
        </ul>
    </ion-content>
</ion-view>