/*****首页*****/
.index .banner {height: 439px;width: 1280px;background: url("../images/banner.png") no-repeat left top;background-size: cover;
    position: relative;border-bottom: 5px solid #000;margin: 0 auto;}
.index .banner .banner-l {width: 483px;padding: 100px 0 0 148px;color: #fff}
.index .banner .banner-l h2 {line-height: 139px;font-size: 77px;}
.index .banner .banner-l p {font-size: 34px;font-family: "幼圆 Regular";letter-spacing: 0.2em;}
.index .banner .banner-r {width: 284px;height: 333px;background:url("../images/touming.png");margin-top: 46px;padding: 10px 22px 0 20px;}
.index .banner .banner-r .write { color: #000;font-size:16px}
.index .banner .banner-r .write span {line-height: 38px;}
.index .banner .banner-r .write p {text-indent: 2em;line-height: 33px;}
.index .banner .banner-r .write h4{line-height: 43px;text-indent: 8em;}
.index .ask{text-align: center;font-size: 20px;line-height: 64px;background: url("../images/play.png") no-repeat 760px 16px;}
.index .qus{height: 64px;}
.index .qus .inner ul{height: 64px;border-top: 1px solid #d1d1d1;border-bottom: 1px solid #d1d1d1;}
.index .qus ul li{border-right: 1px solid #d1d1d1; float: left;line-height: 64px;height: 64px;font-size: 20px;padding-left: 58px;}
.index .qus ul .firLi{width: 292px;background: #fafafa;background:url("../images/store.p.png") no-repeat 11px 16px;}
.index .qus ul .secLi{ width: 318px;background: #fafafa;background:url("../images/edit.png") no-repeat 12px 14px;}
.index .qus ul .lastLi{border-right: none;width: 212px;background: #fafafa;background:url("../images/lock.png") no-repeat 13px 12px;}
.index .tit{border: 1px solid #fff;line-height: 85px;height:85px;}
.index .tit span{font-size: 24px;float: left}
.index .tit a{float: right;font-size: 14px;color: red}
.index .list,.list .inner{height: 663px}
.index .list .box{border: 1px solid #cccccc;width:311px;height: 284px;margin-right: 24px;margin-bottom: 25px}
.index .list .boxH{height: 314px}
.index .list .lastBox{margin-right: 0}
.index .list .box .img{height: 160px;width: 311px}
.index .list .box h4{line-height: 40px;font-size: 15px;padding-left: 10px}
.index .list .box ul span{display: block}
.index .list .box ul{margin-bottom: 9px;height: 40px}
.index .list .box ul li{float: left;text-align: center}
.index .list .box ul li a{color: #666}
.index .list .box ul .oneLi{width: 83px}
.index .list .box ul .twoLi{width: 104px}
.index .list .box ul .thrLi{width: 124px}
.index .list .box .icon{background: #f3f3f3;height: 35px}
.index .list .box .icon a{display: inline-block;width: 11px;height: 35px;line-height: 35px;padding: 0 3px 0 30px}
.index .list .box .icon .a1{background: url("../images/01.png") no-repeat 10px 10px}
.index .list .box .icon .a2{background: url("../images/star.png") no-repeat 10px 10px}
.index .list .box .icon .a3{background: url("../images/download.png") no-repeat 10px 10px}
.index .click{width: 310px;height: 50px;background: #db4f33;margin: 3px auto 35px;color: #fff;font-size: 20px;line-height: 50px;text-align: center;}
.index .person{background: #e3e3e3;height: 338px;border-top: 5px solid #000}
.index .person h4,.person a{height: 75px;line-height: 75px}
.index .person h4{font-size: 24px;padding-left: 4px;color: #000}
.index .person a{font-size: 13px;color: #888888}
.index .person .top{height: 75px;}
.index .person .box{width: 467px;height: 157px;background: #fff;padding: 20px 0 0 20px;margin-right: 20px}
.index .person .marR{margin-right: 0}
.index .person .box img{margin-right: 13px}
.index .person .box h3{font-size: 18px;height: 24px;line-height: 24px}
.index .person .box p{height: 28px;line-height: 28px;}
.index .person .box span{height: 40px;line-height: 40px;}
.index .person .box .express{width: 317px;height: 33px}
.index .person .box .express p{display:inline-block;width:95px;height:33px;background: url("../images/y-bg.png");
    line-height: 33px;font-size: 16px;color: #fff;text-align: center}
.index .person .box .express .icon2{height: 33px}
.index .ad{background: #555555;height: 85px;padding: 57px 0 54px 4px}
.index .ad .pic{width: 97px;padding:24px 0 0 11px }
.index .ad h3{color: #fff;font-size: 24px;height: 85px;margin-right: 28px}
.index .ad ul li{float: left;width: 287px;background: #fff;height: 85px;margin-right: 14px;padding-top: 6px}
.index .ad ul li .word{width: 179px}
.index .ad ul li .word h4{line-height: 26px;color:#000;font-size: 14px}
.index .ad ul li .word p{line-height: 20px;color: #666}
.state{border-bottom: 1px solid #cccccc}
.state,.state .inner{height: 404px}
.state .state-r{padding-top: 4px;width: 376px}
.state .state-r h2,.state .state-r a{font-size: 24px;line-height: 94px}
.state .state-r a{color: #db4f33}
.state .state-r .zhuce{background: url("../images/red-ng.png");width: 123px;height: 47px;color: #fff;font-size: 18px;text-align: center;
    line-height: 47px;margin-right: 20px;}
.state .state-r .text{margin-bottom: 25px}
.state .state-r p{line-height: 52px}
.state .state-r h3{line-height: 62px;font-size: 20px}
.state .state-r .contact{padding-top: 30px}
.state .state-r .contact p{line-height: 28px}
.index .partner{background: #e5e5e5;height: 163px;border-top: 1px solid #fff;}
.index .partner h2{line-height: 70px;text-align: center;font-size: 24px}
.index .partner ul li{width:166px;height:60px;text-align:center;float: left;margin-right: 30px;border: 1px solid #d5d5d5;background: #fff;
.index padding-top: 5px}
.index .partner ul li .lastli{margin-right: 0}

/******登录页面*******/
.index .kuang{width: 584px;height: 409px;background: url("../images/kuang.png");position: fixed;left: 32%;top:28%;padding-top: 13px}
.index .kuang .nei{width: 556px;height: 394px;margin: 0 auto}
.index .kuang .top{background: #000;}
.index .kuang .top h2{color: #fff;height: 67px;line-height: 67px;font-size: 20px;text-align: center;display: inline-block;margin-right: 110px;padding-left: 27px}
.index .kuang .top a{color: #fff;font-size: 20px;}
.index .bot .bot-l{width: 318px;height: 299px;padding: 28px 0 0 24px}
.index .bot .bot-l input{margin-bottom: 15px;}
.index .bot .bot-l .lar{width: 290px;height: 46px;background: url("../images/input.png") no-repeat;padding-left: 49px;display: block;}
.index .bot .bot-l .sm{width: 128px;height: 46px;background: url("../images/inputs.png") no-repeat;padding-left: 7px}
.index .bot .bot-l .now{display:inline-block;width:284px;height: 50px;background: url("../images/dneglular.png") no-repeat;color: #fff;font-size: 20px;
    text-align: center;line-height: 50px}
.index .bot .bot-l span{line-height: 32px;margin-left: 218px}
.index .bot .bot-r{width: 156px;height: 269px;background: #d5d5d5;padding: 58px 0 0 37px}
.index .bot .bot-r p{line-height: 23px}
.index .bot .bot-r .quiet{width:143px;height:36px;background: url("../images/denglusm.png") no-repeat;
    color: #fff;font-size: 18px;text-align: center;line-height: 36px;margin-top: 10px}
/*********登录后*************/
.indexhou .header-bar .login,.indexhou .header-bar .register{display: inline-block;width: 70px;line-height: 86px;height: 86px;padding-left: 10px;
    margin-left: 0;margin-top: 15px;margin-right:0;background: url("../images/xiajiao.jpg") no-repeat 69px 40px;}
.indexhou .header-bar .register{width:121px;background: url("../images/touxiang.png") no-repeat 65px 26px;padding-left: 0;}
.indexhou .header-bar .register span{color: #c5460f;}
.indexhou .banner{position: relative}
.indexhou .banner .menu{height: 258px;}
.indexhou .banner .menu ul{padding: 0 10px;width: 186px;background: #000;color: #fff;position: absolute;right:140px;top:0px;}
.indexhou .banner .menu ul li{border-bottom: 1px solid #0f0f0f;line-height: 42px;padding-left: 30px;}
/*******404页面********/
.underfind .main{height: 503px;background: #f9f9f9;}
.underfind .main .main-l{width: 410px;height:503px;background: url("../images/404.jpg")}
.underfind .main .main-r{background: #fff;width: 583px;height: 376px;padding-top: 127px;padding-left: 7px}
.underfind .main .main-r h2{line-height: 95px;font-size: 44px;}
.underfind .main .main-r a{color: #e64229}
.underfind .main .main-r p{font-size: 18px;margin-bottom: 105px}
.underfind .main .main-r span{font-family: "[FZCCHJW -GB1-0]";font-size: 20px;font-weight: bolder}

/**********列表页************/
.liebiaoye .main{background:#f9f9f9;overflow: hidden;border-bottom: 5px solid #000}
.liebiaoye .main h2 span{display:inline-block;width: 6px;height: 24px;background: #000;margin: 14px 9px 0 0;}
.liebiaoye .main h2{font-size: 22px;line-height:52px;padding-top: 7px;}
.liebiaoye .main .main-l .box{width: 254px;height: 274px;border: 1px solid #cccccc;margin-bottom: 15px}
.liebiaoye .main .main-l .box h3{line-height: 43px;background: #f3f3f3;font-size: 16px;}
.liebiaoye .main .main-l .box ul{padding: 11px 0 0 16px;}
.liebiaoye .main .main-l .box ul li{width: 195px;height: 40px;padding-left: 27px;line-height: 40px;margin-bottom: 2px}
.liebiaoye .main .main-l .box ul .firLi{background: #db4f33;color: #fff}
.liebiaoye .main .main-l .box ul li:hover{background: #db4f33;color: #fff}
.liebiaoye .main .main-l .but{width: 254px;height: 50px;background: #db4f33;text-align: center;line-height: 50px;
    color: #fff;font-size: 20px;border-top: 5px solid #fff}
.liebiaoye .main .main-r{width: 726px;border-top: 2px solid #000}
.liebiaoye .main .main-r .main-r-top{height: 179px;background: #f3f3f3;margin-bottom: 16px;}
.liebiaoye .main .main-r .main-r-top .search{width: 411px;padding: 22px 0 0 35px;font-size: 0}
.liebiaoye .main .main-r .main-r-top  .search .inputLar{padding-left:10px;display:inline-block;width: 359px;height: 38px;border: 1px solid #ccc;vertical-align:top;}
.liebiaoye .main .main-r .main-r-top  .search .submit{display:inline-block;width: 39px;height: 40px;background: #adadad url("../images/search.png") no-repeat center center;
    font-size: 16px;}
.liebiaoye .main .main-r .main-r-top  .search .kuai{margin-top: 23px;margin-right: 18px}
.liebiaoye .main .main-r .main-r-top  .search h3{margin-right: 13px;}
.liebiaoye .main .main-r .main-r-top  .search .kuai .kong{width: 82px;height: 23px;background: #adadad;color: #fff;font-size: 14px;text-align: center;
    line-height: 23px;}
.liebiaoye .main .main-r .main-r-top  .search .last{width:411px;height: 29px;margin-top: 21px;font-size: 14px;}
.liebiaoye .main .main-r .main-r-top  .search .last h3{line-height: 29px;}
.liebiaoye .main .main-r .main-r-top  .search .last input{width: 63px;height: 27px;border: 1px solid #ccc;background: #fff;margin-right: 8px;margin-left: 10px;}
.liebiaoye .main .main-r .main-r-top  .search .last .sure{width: 48px;height: 27px;background: #adadad;color: #fff;text-align: center;
    line-height: 27px;margin-right: 70px}
.liebiaoye .main .main-r .main-r-top .height{width: 232px;height: 179px;}
.liebiaoye .main .main-r .main-r-top .content{overflow: hidden}

.liebiaoye .store{width: 720px;height:132px;border: 1px solid #ccc;
    padding: 7px 0 6px 7px;margin-bottom: 26px; position: relative}
.liebiaoye .jiao{position: absolute;z-index: 9;left: -6px;top:-7px;}
.liebiaoye .store .store-img{width: 257px;height:132px;overflow: hidden;
    background: url("../images/list01.png") no-repeat left top;position: relative;}
.liebiaoye .store .support{  width: 50px;height:14px;padding: 4px 8px;
    position: absolute;right:6px;top:5px;background: #fff;opacity: .5;border-radius:10px;}
.liebiaoye .store .support span{font-size: 12px;height:12px;}
.liebiaoye .store  .shop-desc{width: 462px;}
.liebiaoye .store  .shop-desc h3{padding-left:14px;height: 39px;line-height: 39px;color: #000;font-weight: 500;font-size: 15px;}
.liebiaoye .store .shop-invest{padding:16px 0 0 14px;height:46px;}
.liebiaoye .store .shop-invest a{width:93px;height:24px;background:#feb34b;color: #fff;text-align:center;line-height: 24px;}
.liebiaoye .store .shop-invest p{text-align: center;width: 80px;margin-left:30px;}
.liebiaoye .store .shop-invest span{display: block;}
.liebiaoye .store .shop-icon{height:32px;background: #f3f3f3;padding-right: 16px;}
.liebiaoye .store .shop-icon .item-icon01{margin-left: 20px;}
.liebiaoye .item-icon01, .shop-icon .item-icon02,.shop-icon .item-icon03{width: 32px;margin-right: 13px;float: left;line-height: 32px;padding-left: 18px;}
.liebiaoye .item-icon01{background: url("../images/01.png") no-repeat left center;}
.liebiaoye .item-icon02{background: url("../images/star.png") no-repeat left center;}
.liebiaoye .item-icon03{background: url("../images/download.png") no-repeat left center;}

/********列表页无项目*********/
.liebiaoye .main-r-but{width: 727px;height: 439px;margin-bottom:50px;border: 1px solid #ccc;text-align: center}
.liebiaoye .main .main-r-but h3{font-size: 18px;margin-top: 76px;margin-bottom: 30px;}
.liebiaoye .main-r-but .click{width: 101px;height: 39px;background: #feb34b;color: #fff;line-height: 39px;text-align: center;margin: 0 auto}

/***********新手指导01************/
.newHand .wrap{background: #f9f9f9}
.newHand .back{height: 142px;background: url("../images/bg01.png") no-repeat left top;opacity: 0.7;}
.newHand .back h2{font-size: 36px;margin-left: 414px;line-height: 142px;}
.newHand .back p{font-size: 20px;margin-top: 62px;margin-left: 16px;}
.newHand .tubiao{padding: 29px 0 28px 0}
.newHand .tubiao ul{height: 222px;width: 998px;border: 1px solid #cccccc;background: #fff;padding-top: 17px;padding-bottom: 18px}
.newHand .tubiao ul li{float: left;height: 204px;border-right: 1px dashed #ccc;width: 140px;}
.newHand .tubiao ul li h2{line-height: 27px;font-size: 18px;}
.newHand .tubiao ul li p{line-height: 27px;font-size: 14px}
.newHand .tubiao ul li .pic{width:80px;height: 80px;margin-left: 25%;margin-bottom: 11px;}
.newHand .tubiao ul li .pic{background: url("../images/yuanhui.png") no-repeat}
.newHand .tubiao ul .li-1{padding: 0 31px 0 17px}
.newHand .tubiao ul .li-1 .pic img{margin: 10px 0 0 8px}
.newHand .tubiao ul .li-1 .pic{background: url("../images/yuanred.png") no-repeat}
.newHand .tubiao ul .li-2{padding: 0 36px 0 33px}
.newHand .tubiao ul .li-2 .pic img{margin: 14px 0 0 18px}
.newHand .tubiao ul .li-3{padding: 0 34px 0 30px}
.newHand .tubiao ul .li-3 .pic img{margin: 14px 0 0 18px}
.newHand .tubiao ul .li-4{padding: 0 30px 0 29px}
.newHand .tubiao ul .li-4 .pic img{margin: 20px 0 0 18px}
.newHand .tubiao ul .li-5{border-right: none;padding: 0 25px 0 28px}
.newHand .tubiao ul .li-5 .pic img{margin: 10px 0 0 18px}
.newHand .tabs{padding-bottom: 19px;}
.newHand .tabs ul{height: 48px;border-top: 3px solid #000}
.newHand .tabs ul li{float: left;text-align: center;line-height: 48px;border-right: 1px solid #fff;background: #000;color: #fff}
.newHand .tabs ul .aLi{width: 199px;}
.newHand .tabs ul .bLi{width: 315px;}
.newHand .tabs ul .cLi{width: 206px;}
.newHand .tabs ul .dLi{width: 276px;border-right: none;background: #000;color: #fff}
.newHand .tabs ul li.black{background: #fff;color: #000}
.newHand .qian .inner{background: #fff;padding-top: 106px;border: 1px solid #ccc;margin-bottom: 20px;position: relative}
.newHand .qian .inner .center{width: 956px;margin: 0 auto}/********中间的center部分*********/
.newHand .qian .inner span{line-height: 61px;font-size: 18px;}
.newHand .qian .inner .script{border-bottom: 1px dashed #ccc;padding-bottom: 24px;}
.newHand .qian .inner .script02{background: url("../images/san.jpg") no-repeat 615px 27px;}
.newHand .qian .inner .script h2{color: #e6504e;font-size: 18px;line-height: 38px;margin-top: 40px;height: 38px;}
.newHand .qian .inner .script p{line-height: 31px;}
.newHand .qian .inner .script a{color: #e6504e}
.newHand .qian .inner .script01{text-align: right;margin-bottom:10px;border-bottom: none;background: url("../images/sanren.jpg") no-repeat 80px 0;}
.newHand .qian .inner .beizhu{background: #f5f5f5;height: 126px;padding-top: 16px;}
.newHand .qian .inner .beizhu h3{line-height: 28px;padding-left: 13px;}
.newHand .qian .inner .beizhu .box{width: 453px;padding: 13px;}
.newHand .qian .inner .beizhu .box01{width:408px;padding-left: 56px;}
.newHand .qian .inner .icon{width: 237px;height: 63px;position:absolute;left:-11px;top:23px;background: url("../images/ready.jpg") no-repeat;}
.newHand .ready .inner span{display:inline-block;width: 88px;height: 61px;line-height: 25px;text-align: center}
.newHand .ready .inner .center{background: url("../images/teacher.jpg") no-repeat 646px 112px}
.newHand .ready .inner .scriptBut{border-bottom: none;padding-bottom: 0;}
.newHand .ready .inner .scriptBut h2{color: #d07e14}
.newHand .ready .inner .scriptButBor{ border-bottom: 1px dashed #ccc;}
.newHand .ready .inner .scriptButBor h2{color: #d07e14}
.newHand .ready .inner .bottom{padding-bottom: 46px;}
.newHand .ready .inner .green h2{color: #099483}
.newHand .ready .inner .icons{background: url("../images/yibao.jpg") no-repeat 35px 0;}
.newHand .ready .inner .icon{width: 237px;height: 63px;position:absolute;left:-11px;top:23px;background: url("../images/pass.jpg") no-repeat;}
.newHand .content .tijiao{width: 310px; height: 50px;background: #db4f33;margin: 0 auto;color: #fff;line-height: 50px;text-align: center;
    font-size: 20px;margin-bottom: 50px;}


/*************page2************/
.newHand .qian .inner .card1 img{padding-top:40px;padding-left: 60px; }
.newHand .qian .inner .card1 .right{margin-right: 15px;}
.newHand .qian .inner .card1{border-bottom: none;margin-bottom: 40px;}
.newHand .page2 .qian .icon{width:239px;height:63px;background: url("../images/newhand-2-1.jpg") no-repeat}
.newHand .page2 .ready .icon{background: url("../images/newhand-2-2.jpg") no-repeat}
.newHand .page2 .ready .center{background: url("../images/teacher.jpg") no-repeat 666px 223px;}

/***************page3***************/
.page3{position: relative}
.page3 .line p{line-height: 28px;}
.page3 .line img{padding: 24px 0 35px 31px;border-bottom: 1px dashed #ccc}
.page3 .line1{padding-top: 28px;}
.page3 .line1 img{border-bottom: none}
.page3 .last img{padding: 114px 0 140px 0;border-bottom: none;}
.page3 .last .p2{margin: 104px 0 25px 0;}
.page3 .center .last .img2{padding: 0 0 40px 0}
.page3 .anniu{height: 106px;padding: 24px 0 0 427px;}
.page3 .an{width: 196px;height: 50px;line-height: 50px;text-align: center;background: #db4f33;color: #fff;font-size: 20px;margin-right: 34px;}
.page3 .an2{background: #feb34b}
.page3 .icon1{width:239px;height:63px;background: url("../images/newhand-2-1.jpg") no-repeat;position: absolute;left: 129px;top: 20px;}
.page3 .icon2{width:239px;height:63px;background: url("../images/newhand-2-1.jpg") no-repeat;position: absolute;left: 129px;top: 595px;}
.page3 .icon3{width:237px;height:63px;background: url("../images/pass.jpg") no-repeat;position: absolute;left: 129px;top: 865px;}
.page3 .icon4{width:237px;height:63px;background: url("../images/newhand-2-2.jpg") no-repeat;position: absolute;left: 129px;top: 1061px;}

/******************page4************************/
.page4 .inner{width:1011px;height:1027px;background: url("../images/page4.jpg") no-repeat;margin-bottom: 62px;position: relative}
.page4 a{position: absolute;left: 222px;top: 642px;}

/******************投资人**********************/
.touziren .main .main-l .boxtou{height: 141px;}
.touziren .main .main-l .boxtou .money{padding: 19px 0 0 23px;}
.touziren .main .main-l .boxtou .money h4{font-size: 18px;margin-bottom: 15px;}
.touziren .main .main-l .boxtou .money p{line-height: 26px;}
.touziren .main .main-l .boxtou .money p span{display: inline-block;width: 17px;height: 26px;background: #a3a3a3;color: #fff;text-align: center;
    margin-right: 3px;}
.touziren .main .main-l .ul ul{padding: 18px 0 0 27px;}
.touziren .main .main-l .ul ul li{width: 72px;height: 26px;padding-left: 0;margin-bottom: 16px;text-align: center;line-height: 26px;float: left;
    margin-right: 31px;}
.touziren .kuai{padding-top: 20px;}
.touziren .main .main-r .box{height: 134px;margin-bottom: 20px;}
.touziren .main .main-r .box .duihua{width: 632px;height: 134px;background: url("../images/duihuakuang.png") no-repeat -2px;margin-left: 5px;
    position: relative}
.touziren .main .main-r .box .duihua h2{font-size: 18px;line-height: 21px;padding-top: 14px;padding-left: 26px;}
.touziren .main .main-r .box .duihua h3{line-height: 30px;padding-left: 26px;}
.touziren .main .main-r .box .duihua h3 span{display:inline-block;-webkit-transform: scale(0.7);}
.touziren .main .main-r .box .duihua p{line-height: 33px;-webkit-transform: scale(0.7);transform-origin: left;padding-left: 40px;}
.touziren .main .main-r .box .duihua .yin{width:601px;background: #f3f3f3;height: 33px;line-height: 33px;margin-left: 10px;padding-left: 20px;}
.touziren .main .main-r .box .duihua .huang{width: 95px;height: 33px;background: #f39c11;color: #fff;line-height: 33px;text-align: center;
    position: absolute;left: 500px;top:35px;}

/*****************项目内容*******************/
.neirong .wrap{background: #f9f9f9;}
.neirong .toper{height: 84px;}
.neirong .toper span{display: inline-block;line-height: 24px;font-size: 22px;border-left: 6px solid #000;padding-left:9px;margin-top: 21px}
.neirong .toper .notice{width: 276px;height: 33px;background: url("../images/ba.png") no-repeat;margin-top: 15px;}
.neirong .toper .notice p{padding-left: 34px;line-height: 33px;-webkit-transform: scale(0.7);}
.neirong .rongzi{height: 168px;padding: 6px 0 0 6px;position: relative}
.neirong .rongzi .box{width: 978px;height: 148px;border: 1px solid #ccc;padding: 7px 6px 0 8px;position: relative}
.neirong .rongzi .box .desc{width: 720px;}
.neirong .rongzi .box .desc h3{line-height: 32px;background: #f3f3f3;padding-left: 23px;margin-bottom: 4px;}
.neirong .rongzi .box .desc p{padding-left: 23px;line-height: 19px;margin-top: 30px;}
.neirong .rongzi .box .desc p span{display:inline-block;color: #feb34b;margin: 0 16px;}
.neirong .rongzi .box .desc p a{margin: 0 4px;}
.neirong .rongzi .box .biao{position: absolute;left:-5px;top:-6px;}
.neirong .rongzi .box .position{position: absolute;left: 800px;top:70px;}
.neirong .rongzi .box .position a{width: 25px; height: 25px;}
.neirong .heng{height:134px;padding: 14px 0 0 7px;}
.neirong .heng ul{background: #fff;height: 119px;}
.neirong .heng ul li{float: left;border-right: 1px dashed #ccc;height: 119px;}
.neirong .heng ul .Li01 p{padding-left: 30px;}
.neirong .heng ul .Li01 p span{margin-right: 40px;}
.neirong .heng ul .Li02{width: 251px;text-align: center}
.neirong .heng ul .Li02 h2{line-height: 119px;font-size: 18px;}
.neirong .heng ul .Li02 h2 a{display: inline-block;color: #f39c11;font-size: 34px;line-height: 119px;}
.neirong .heng ul .Li03{width:315px;border-right: none;text-align: center}
.neirong .heng ul .Li03 span{display: inline-block;line-height: 119px;}
.neirong .heng ul .Li03 .rengou{width: 107px;height: 38px;line-height: 38px;color: #fff;background: #f39c11;border-radius: 5px;margin-top: 41px;}
.neirong .tabs ul{height: 53px;border: 1px solid #ccc;margin-bottom: 23px;}
.neirong .tabs ul li{float: left;border-right: 1px solid #ccc;padding: 0 48px;line-height: 53px}
.bg{background:#db4f33}
.neirong .tabs ul .lastLi{padding: 0 48px;display:inline-block;border-right: none;line-height: 53px;background: url("../images/sinablog.png") no-repeat 11px 14px}
.neirong .content .content-l .art01 .box{width: 638px;border: 1px solid #ccc;margin-bottom: 16px;padding-left: 9px;background: #fff}
.neirong .content .content-l .art01 .box1 h2,.neirong .content .content-l .art01 .box2 h2,.neirong .content .content-l .art01 .box4 h2
{line-height: 39px;font-size: 16px;border-bottom: 1px solid #ccc;width: 627px;font-weight: bold }
.neirong .content .content-l .art01 .box1{position: relative}
.neirong .content .content-l .art01 .box1 p{line-height: 25px;margin-top: 13px;margin-bottom: 97px;}
.neirong .content .content-l .art01 .box1 ul{height: 277px;}
.neirong .content .content-l .art01 .box1 ul li{float: left;border-right: 1px solid #ccc;width: 318px;height: 92px;text-align: center;
    border-bottom: 1px solid #ccc}
.neirong .content .content-l .art01 .box1 ul li h3{line-height: 92px;font-size: 14px;}
.neirong .content .content-l .art01 .box1 ul .rightLi{border-right:none}
.neirong .content .content-l .art01 .box1 ul .botLi{border-bottom:none}
.bgcc{background: #f9f9f9}
.neirong .content .content-l .art01 .box1 .img{width: 135px;height: 50px;background: url("../images/qie01.jpg") no-repeat;
    position: absolute;left: -11px;top: 175px;}
.neirong .content .content-l .art01 .box2{background: #fff;}
.neirong .content .content-l .art01 .box2 ul{height: 377px;}
.neirong .content .content-l .art01 .box2 ul li{float: left;margin-right: 10px;}
.neirong .content .content-l .art01 .box2 ul li .img{margin-top: 19px;}
.neirong .content .content-l .art01 .box2 ul li .hua{background: url("../images/box2.png") no-repeat;width: 207px;height: 86px;margin-top: 20px;
    padding-left: 20px;padding-top: 10px;}
.neirong .content .content-l .art01 .box2 ul li .hua h4{line-height: 27px;color: #f39c11;font-size: 18px;
    background: url("../images/huizhang.png") no-repeat 80px 1px}
.neirong .content .content-l .art01 .box2 ul li .hua p{line-height: 24px;}
.neirong .content .content-l .art01 .box3{width:627px;padding: 55px 11px 0 9px;position: relative}
.neirong .content .content-l .art01 .box3 .words{border-bottom: 1px dashed #ccc}
.neirong .content .content-l .art01 .box3 .words h3{margin-top: 14px;font-size: 14px;}
.neirong .content .content-l .art01 .box3 .words p{-webkit-transform: scale(0.7);transform-origin: left;line-height: 44px;}
.neirong .content .content-l .art01 .box3 .last{border-bottom: none}
.neirong .content .content-l .art01 .box3 .img{width: 135px;height: 50px;background: url("../images/qie02.jpg") no-repeat;
    position: absolute;left: -11px;top: 18px;}
.neirong .content .content-l .art01 .box4 ul{height: 217px;padding:20px 0 0 20px;}
.neirong .content .content-l .art01 .box4 ul li{float: left;text-align: center;margin-right: 56px;}
.neirong .content .content-l .art02 .box{width: 647px;height: 859px;border: 1px solid #ccc;text-align: center;margin-bottom: 40px;}
.neirong .content .content-l .art02 .box h2{line-height: 110px;margin-top: 37px;font-size: 18px;font-weight:bold;border-bottom: none}
.neirong .content .content-l .art02 .box .click{width: 153px;height: 39px;background: #feb34b;line-height: 39px;color: #fff;font-size:18px;margin: 0 auto}
.neirong .content .content-l .art03 .box{width:619px;padding: 18px 18px 0 10px;}
.neirong .content .content-l .art03 .box p{text-align: left;line-height: 24px;}
.neirong .content .content-l .art03 .box ul{height: 267px;margin-top: 34px;}
.neirong .content .content-l .art03 .box ul li{float: left}
.neirong .content .content-l .art03 .box ul .aLi{width:336px;border-right: 1px solid #ccc;padding-left: 14px;text-align: left}
.neirong .content .content-l .art03 .box ul .aLi input{display: inline-block;width: 238px;height: 40px;border: 1px solid #ccc;border-radius: 5px;
    margin-bottom: 22px;padding-left: 46px;}
.neirong .content .content-l .art03 .box ul .aLi .check{width: 112px;padding-left: 10px;margin-right: 5px;}
.neirong .content .content-l .art03 .box ul .aLi img{margin-right: 14px;}
.neirong .content .content-l .art03 .box ul .aLi .lar{width:284px; ;height:50px; ;color: #fff;line-height:50px;text-align: center;font-size: 20px;
    background: #db4f33;border-radius: 5px;margin-bottom: 5px;}
.neirong .content .content-l .art03 .box ul .aLi p{padding-left: 220px;}
.neirong .content .content-l .art03 .box ul .bLi{padding-left: 44px;text-align: left}
.neirong .content .content-l .art03 .box ul .bLi .kuaisu{width:143px; ;height:36px; ;color: #fff;line-height:36px;text-align: center;font-size: 16px;
    background: #db4f33;border-radius: 5px;margin-bottom: 33px;}
.neirong .content .content-l .art03 .box ul .bLi h2{line-height: 54px;margin-top: 12px;font-size: 14px;}
.neirong .content .content-l .art03 .box ul .bLi .last{width: 205px;height: 75px;background: #f5f5f5;padding: 13px 0 0 16px}
.neirong .content .content-l .art03 .box ul .bLi .last p{margin-bottom: 16px;}
.neirong .content .content-l .art03 .box ul .bLi .last a{display: inline-block;margin-right: 14px;}
.neirong .content .content-l .art04 .box{width: 627px;border: 1px solid #ccc;padding: 10px 11px 0 9px;}
.neirong .content .content-l .box h2{line-height: 39px;font-size: 16px;border-bottom: 1px solid #ccc}
.neirong .content .content-l .art04 .box .good{width: 616px;height: 118px;border: 1px solid #ccc;margin-top: 20px;
    padding: 6px 0 0 7px;}
.neirong .content .content-l .art04 .box .good .you{position: relative}
.neirong .content .content-l .art04 .box .good .you h3{padding-left: 16px;margin-bottom: 65px;font-size: 15px;}
.neirong .content .content-l .art04 .box .good .you .icon{height: 23px;background: #f3f3f3;width: 330px;padding: 9px 0 0 18px;}
.neirong .content .content-l .art04 .box .good .you .icon a{display: inline-block;width: 29px;height: 14px;padding-left: 19px;}
.neirong .content .content-l .art04 .box .good .you .icon .a1{background: url("../images/01.png") no-repeat}
.neirong .content .content-l .art04 .box .good .you .icon .a2{background: url("../images/star.png") no-repeat}
.neirong .content .content-l .art04 .box .good .you .icon .a3{background: url("../images/download.png") no-repeat}
.neirong .content .content-l .art04 .box .good .you .qu{width:93px;height:24px;position: absolute;left:16px; top:40px;background: url("../images/qu.jpg") no-repeat;}
.neirong .content .content-l .art04 .box .good .you .see{width:104px;height:28px;position: absolute;left:217px; top:17px;background: url("../images/see.jpg") no-repeat;}
.neirong .content .content-l .art04 .box1{padding-bottom: 41px;margin-bottom: 15px;}
.neirong .content .content-l .art04 .box1 p{font-size:13px;position: absolute;left:16px; top:40px;font-size: 13px;padding-top: 20px;}
.neirong .content .content-l .art04 .box1 .icon span{color: #e6504e;}
.neirong .content .content-l .art04 .box2 .icon{background: none;}
.neirong .content .content-l .art04 .box2 .icon span{color: #000}
.neirong .content .content-l .art04 .box2 .margin{margin-top: 84px;}

.neirong .content .content-l .art05 .box{background-color: #fff;height:1092px;width: 627px;padding: 0 10px;border: 1px solid #ccc;}
.neirong .content .content-l .art05 .box .li{height: 84px;border-bottom: 1px dashed #ccc;padding-top: 19px;position: relative}
.neirong .content .content-l .art05 .box .li .img{margin-right: 10px;}
.neirong .content .content-l .art05 .box .li h4{color: #f39c11;font-size: 18px;line-height: 24px;background: url("../images/huizhang.png") no-repeat 80px 1px;}
.neirong .content .content-l .art05 .box .li p{line-height: 34px}
.neirong .content .content-l .art05 .box .li span{line-height: 34px;display:inline-block;-webkit-transform: scale(0.7);transform-origin: left;}
.neirong .content .content-l .art05 .box .icon a{display: inline-block;width: 29px;height: 14px;padding-left: 19px;}
.neirong .content .content-l .art05 .box .icon .a1{background: url("../images/01.png") no-repeat}
.neirong .content .content-l .art05 .box .icon .a2{background: url("../images/star.png") no-repeat}
.neirong .content .content-l .art05 .box .icon .a3{background: url("../images/download.png") no-repeat}
.button{display:inline-block;width: 95px;height: 33px;line-height:33px;color: #fff;text-align: center;font-size: 14px;
    border-radius: 5px;position: absolute;left: 527px;top:40px;background: #f3b611}
.neirong .content .content-l .art06 .box{margin-bottom: 18px;background-color: #fff;width: 627px;padding:11px 11px 0 9px;border: 1px solid #ccc;position: relative}
.neirong .content .content-l .art06 .box1 .shipin{margin-bottom:72px;background: url("../images/shipin.jpg") no-repeat;width: 627px;height: 446px;}
.neirong .content .content-l .art06 .box1 p{line-height: 26px;margin-bottom: 27px;text-indent: 2em}
.neirong .content .content-l .art06 .box1 .icon{width: 135px;height: 50px;position: absolute;left:-12px;top:505px;background: url("../images/jianjie.jpg") no-repeat}
.neirong .content .content-l .art06 .box2 .jieshao{width: 627px;height: 97px;background: url("../images/jieshao.jpg") no-repeat}
.neirong .content .content-l .art06 .box2 .shipin2{width: 628px;height: 388px;background: url("../images/shipin2.jpg") no-repeat}
.neirong .content .content-l .art06 .box2 ul{height: 72px;margin-top: 91px;}
.neirong .content .content-l .art06 .box2 ul li{float: left;width: 146px;padding-left: 10px;}
.neirong .content .content-l .art06 .box2 ul li h3{line-height: 42px;}
.neirong .content .content-l .art06 .box2 ul li span{line-height: 18px;display:inline-block;-webkit-transform: scale(0.7);transform-origin: left;}
.neirong .content .content-l .art06 .box2 p{line-height: 26px;text-indent: 2em;border-bottom: 1px dashed #ccc;margin-bottom: 10px;}
.neirong .content .content-l .art06 .box2 .line h4{line-height: 26px;font-size: 14px;font-weight: bold}
.neirong .content .content-l .art06 .box2 .line p{text-indent: 0;padding-bottom: 12px;}
.neirong .content .content-l .art06 .box2 .line2 p{border-bottom: none}
.neirong .content .content-l .art06 .box2 .icon{width: 198px;height: 50px;position: absolute;left:-12px;top:604px;background: url("../images/team.jpg") no-repeat;}
.neirong .content .content-l .art06 .box3 p{line-height: 26px;margin-top: 73px;margin-bottom: 36px}
.neirong .content .content-l .art06 .box3 .line{padding: 3px 0 18px 5px;border-bottom: 1px dashed #ccc}
.neirong .content .content-l .art06 .box3 .line h3{line-height: 46px;color: #db4f33;font-size: 14px;}
.neirong .content .content-l .art06 .box3 .line span{display:inline-block;margin-right: 150px;}
.neirong .content .content-l .art06 .box3 .line2{border-bottom: none}
.neirong .content .content-l .art06 .box3 .icon{width: 198px;height: 50px;position: absolute;left:-12px;top:26px;background: url("../images/zizhi.jpg") no-repeat;}
.neirong .content .content-l .art06 .box4 .zhan{width: 648px;height: 244px;background: url("../images/qie03.jpg") no-repeat;
    position: relative;left:-9px;top:-11px;}
.neirong .content .content-l .art06 .box4 .list{height: 180px;padding-top: 8px;border-bottom: 1px dashed #ccc}
.neirong .content .content-l .art06 .box4 .list .you{width: 543px;margin-left: 10px;}
.neirong .content .content-l .art06 .box4 .list .you h3{line-height: 20px;padding-top: 13px;color: #f39c11;
    background: url("../images/huizhang.png") no-repeat 75px 12px}
.neirong .content .content-l .art06 .box4 .list .you h4{line-height: 30px;background: url("../images/stars.jpg") no-repeat 74px 8px}
.neirong .content .content-l .art06 .box4 .list .you span{display:inline-block;padding-top: 12px;}
.neirong .content .content-l .art06 .box4 .page{height: 101px;}
.neirong .content .content-l .art07 .box{width: 647px;border: 1px solid #ccc;background: #fff;margin-bottom: 69px;}
.neirong .content .content-l .art07 .box .tabs{width: 625px;height: 40px;padding: 16px 0 0 22px;border-bottom: 1px solid #ccc}
.neirong .content .content-l .art07 .box .tabs a{display:inline-block;width: 89px;height: 39px;line-height:39px;text-align: center}
.hover{border: 1px solid #ccc;border-radius:5px;border-bottom: 2px solid #fff;line-height: 42px;}
.neirong .content .content-l .art07 .box .content{width: 625px;padding: 0 11px;}
.neirong .content .content-l .art07 .box .content .page1{padding-bottom: 98px;}
.neirong .content .content-l .art07 .box .content .page1 .list{height: 84px;border-bottom: 1px dashed #ccc;padding: 23px 10px 0;}
.neirong .content .content-l .art07 .box .content .page1 .list .word{margin-left: 10px;}
.neirong .content .content-l .art07 .box .content .page1 .list .word p{color: #f39c11;line-height: 36px;background: url("../images/huizhang.png") no-repeat 48px 6px}
.neirong .content .content-l .art07 .box .content .page1 .list .word p span{color: #000}
.neirong .content .content-l .art07 .box .content .page1 .list .word h4{font-weight: normal;color: #888;line-height: 35px;}
.neirong .content .content-l .art07 .box .content .page2 .list{height: 78px;padding-top: 15px;}
.neirong .content .content-l .art07 .box .content .page2 .list .message p{line-height: 52px;}
.neirong .content .content-l .art07 .box .content .page2 .list .message span{color: #888}

.neirong .content .content-r .box{width: 305px;border: 1px solid #ccc;padding: 10px 10px 0 10px;background: #fff;margin-bottom: 15px;}
.neirong .content .content-r .box h2{line-height: 49px;border-bottom: 1px solid #ccc;font-size: 16px;}
.neirong .content .content-r .box p{line-height: 25px;}
.neirong .content .content-r .box-top p{color: #dd5f48;margin: 13px 0 15px 0}
.neirong .content .content-r .box-top .xuni{width: 325px;height: 372px;background: url("../images/big.jpg");position: relative;left: -10px}
.neirong .content .content-r .box-top .p{color: #000}
.neirong .content .content-r .box-bot{padding-bottom: 21px}
.neirong .content .content-r .box-bot a{color:#dd5f48;line-height: 25px;padding-top: 11px;display: inline-block}
.neirong .content .content-r .box-bot .p2{margin-top: 5px;}

/*帮助页面的css*/
.help .main-top{height: 24px;padding: 21px 0 16px 4px}
.help .main-top p{height: 24px;border-left: 6px #000 solid;font-size: 22px;line-height: 24px;padding-left: 9px;}
.help .main-bot{width: 998px;height:496px;border: 1px solid #ccc;background: #fff;margin-bottom:160px;}
.help .left-nav{width: 223px;height:496px;border-right: 1px solid #ccc;}
.help .left-nav li{height:48px;line-height: 48px;padding-left: 42px;border-bottom: 1px solid #ccc;}
.help .article{padding:0 20px;width: 700px;}
.help .article h2{height:47px;border-bottom: 3px solid #ccc; margin-bottom: 24px;}
.help .article h2 span{height: 47px;width: 150px; border-bottom: 3px solid #ef6765;display: block;line-height: 47px;font-size: 18px;}
.help .article h3{font-size: 14px;}
.help .article h3 , .help .article p{line-height:26px; }
.help .article p{margin-bottom: 26px;}