<div class="h-checkoutSummary">
    <h2>您的购物车</h2>
    <div ng-controller="ckController">
        <div class="alert alert-warning" ng-show="cart.length == 0">
            您的购物车是空的。<a href="#product" class="alert-link">继续购物</a>
        </div>
        <div ng-show="cart.length != 0" class="inner">
            <table class="table">
                <thead>
                <tr class="h-thead">
                    <th>数量</th>
                    <th>商品信息</th>
                    <th class="text-right">单价(元)</th>
                    <th class="text-right">小计(元)</th>
                    <th class="text-right1">操作</th>
                </tr>
                </thead>
                <tbody class="tbody">
                <tr ng-repeat="item in cart">
                    <td class="text-center">{{item.number}}</td>
                    <td class="text-left h-img">
                        <img ng-src="{{item.product.imgurl}}" alt="">
                        {{item.product.name}}
                    </td>
                    <td class="text-right">{{item.product.price | currency:"￥"}}</td>
                    <td class="text-right xiaji">{{item.product.price * item.number | currency:"￥"}}</td>
                    <td>
                        <button class="btn btn-sm btn-warning" ng-click="remove(item)">删除</button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4" class="text-right">总金额:</td>
                    <td class="text-right h-total">
                        {{moneyTotal() | currency:"￥"}}
                    </td>
                </tr>
                </tfoot>
            </table>
            <div class="text-center">
                <a class="btn btn-primary" href="#products">继续购物</a>
                <a class="btn btn-primary" href="#placeorder">提交订单</a>
            </div>
        </div>
    </div></div>

