<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../css/publicStyle.css" rel="stylesheet" type="text/css">
    <link href="../../css/public.css" rel="stylesheet" type="text/css">

    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../css/reveal.css">
    <script src="../../js/jquery-1.6.min.js"></script>
    <script src="../../js/reveal.js"></script>
    <script src="../../js/style.js"></script>
    <script type="text/javascript" src="../../js/zzsc.js"></script>
</head>
<body class="myOrder">
    <div class="wrap">
        <div class="top">
            <div class="inner overflowH clearFloat">
                <div><a class="big-link" data-reveal-id="myModal" data-animation="fade">请登录</a><a href="../../views/registerpage/registerpage.html">免费注册</a></div>
                <ul class="overflowH">
                    <li><a href="../../index.html">我的合电台</a></li>
                    <li><a href="../../views/order/collect.html">我的订单</a></li>
                    <li><a href="../../views/order/collect.html">我的收藏</a></li>
                    <li><a href="javascript:;">客服中心</a></li>
                    <li><a href="javascript:;">在线咨询</a></li>
                </ul>
            </div>
        </div>
        <div class="header-bot">
            <div class="inner">
                <h1 class="fl"><a href="../../index.html"><img src="../../images/d-logo.png"></a></h1>
                <div class="fl logo-text">
                    <h2><a href="../../index.html">我的合电站</a></h2>
                    <a href="../../index.html">返回合电站首页</a>
                </div>
                <div class="search fr">
                    <form class="fl">
                        <input type="text" class="search-text" placeholder="请输入产品关键字或型号">
                        <input type="button" class="search-btn" value="搜索">
                    </form>
                    <div class="cart fl">
                        <a href="../../views/buycar/buyCar.html">
                            <span>购物车</span>&gt;
                        </a>
                        <i>3</i>
                    </div>
                </div>
            </div>
        </div>
        <!--顶部-->
        <div class="main">
            <div class="inner">
                <div class="section clearfix">
                    <div class="aside fl" >
                        <a class="first-row" href="javascript:;">个人中心</a>
                        <ul>
                            <li>
                                <a href="javascript:;" class="red-active nav-li">我的订单</a>
                                <a href="javascript:;" class="nav-li">我的收藏</a>
                            </li>
                            <li>
                                <a href="javascript:;"  class="nav-li">个人信息</a>
                                <a href="javascript:;"  class="nav-li">收货地址</a>
                            </li>
                            <li>
                                <a href="javascript:;"  class="nav-li">意见建议</a>
                            </li>
                        </ul>
                    </div>
                    <div class="section-right fr">
                        <!--我的订单-->
                        <div class="section-list my-order ">
                            <h3>我的订单</h3>
                            <div class="pro-list">
                                <div class="title">
                                    <h4 class="fl subList red-active">全部商品</h4>
                                    <h4 class="fl subList">待收货</h4>
                                </div>
                                <div class="Title">
                                    <ul>
                                        <li class="firLi">
                                            <span>近一个月订单</span> &or;
                                            <ul class="hide menu-sub">
                                                <li><a href="javascript:;">近一个月订单</a></li>
                                                <li><a href="javascript:;">近三个月订单</a></li>
                                                <li><a href="javascript:;">近一年内订单</a></li>
                                                <li><a href="javascript:;">2015年订单</a></li>
                                            </ul>
                                        </li>
                                        <li class="secLi">订单详情</li>
                                        <li class="thrLi">收货人</li>
                                        <li class="forLi">金额</li>
                                        <li class="fivLi">
                                            <span>全部状态</span> &or;
                                            <ul class="hide sub-state">
                                                <li><a href="javascript:;">全部状态</a></li>
                                                <li><a href="javascript:;">完成订单</a></li>
                                                <li><a href="javascript:;">待收货</a></li>
                                            </ul>
                                        </li>
                                        <li class="lastLi">操作</li>
                                    </ul>
                                </div>
                                <div class="sub-list">
                                    <!--我的全部订单-->
                                    <div class="orderMain ">
                                        <div class="orderContent">
                                            <div class="topic bg">
                                                <i class="orderTime">2016-06-06  16:48:45</i>
                                                <i class="orderNum">订单号：201606060089</i>
                                            </div>
                                            <div class="itemsBox clearfix">
                                                <div class="items fl">
                                                    <div class="itemDetail clearfix">
                                                        <div class="picBox fl"><a href="#"><img src="../../images/D-order-item_03.jpg"></a></div>
                                                        <p class="itemName fl"><a href="#">HP惠普15-bdoo1tx/x5p5-8pA/i3超极本</a></p>
                                                        <i class="itemNum fl">X10</i>
                                                    </div>
                                                    <div class="itemDetail clearfix">
                                                        <div class="picBox fl"><a href="#"><img src="../../images/D-order-item_03.jpg"></a></div>
                                                        <p class="itemName fl"><a href="#">HP惠普15-bdoo1tx/x5p5-8pA/i3超极本</a></p>
                                                        <i class="itemNum fl">X10</i>
                                                    </div>
                                                    <div class="itemDetail clearfix">
                                                        <div class="picBox fl"><a href="#"><img src="../../images/D-order-item_03.jpg"></a></div>
                                                        <p class="itemName fl"><a href="#">HP惠普15-bdoo1tx/x5p5-8pA/i3超极本</a></p>
                                                        <i class="itemNum fl">X10</i>
                                                    </div>
                                                </div>
                                                <div class="otherDetail fl">
                                                    <ul class="clearfix">
                                                        <li><p>熊世军</p></li>
                                                        <li><p>3222.00</p></li>
                                                        <li>
                                                            <p>待收货</p>
                                                            <a href="#">订单详情</a>
                                                        </li>
                                                        <li><a href="#">再次购买</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="orderContent">
                                            <div class="topic bg">
                                                <i class="orderTime">2016-06-06  16:48:45</i>
                                                <i class="orderNum">订单号：201606060089</i>
                                            </div>
                                            <div class="itemsBox clearfix">
                                                <div class="items fl">
                                                    <div class="itemDetail clearfix">
                                                        <div class="picBox fl"><a href="#"><img src="../../images/D-order-item_03.jpg"></a></div>
                                                        <p class="itemName fl"><a href="#">HP惠普15-bdoo1tx/x5p5-8pA/i3超极本</a></p>
                                                        <i class="itemNum fl">X10</i>
                                                    </div>
                                                    <div class="itemDetail clearfix">
                                                        <div class="picBox fl"><a href="#"><img src="../../images/D-order-item_03.jpg"></a></div>
                                                        <p class="itemName fl"><a href="#">HP惠普15-bdoo1tx/x5p5-8pA/i3超极本</a></p>
                                                        <i class="itemNum fl">X10</i>
                                                    </div>
                                                    <div class="itemDetail clearfix">
                                                        <div class="picBox fl"><a href="#"><img src="../../images/D-order-item_03.jpg"></a></div>
                                                        <p class="itemName fl"><a href="#">HP惠普15-bdoo1tx/x5p5-8pA/i3超极本</a></p>
                                                        <i class="itemNum fl">X10</i>
                                                    </div>
                                                </div>
                                                <div class="otherDetail fl">
                                                    <ul class="clearfix">
                                                        <li><p>熊世军</p></li>
                                                        <li><p>3222.00</p></li>
                                                        <li>
                                                            <p>待收货</p>
                                                            <a href="#">订单详情</a>
                                                        </li>
                                                        <li><a href="#">再次购买</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--我的订单待收货-->
                                    <div class="orderMain hide">
                                        <div class="orderContent">
                                            <div class="topic bg">
                                                <i class="orderTime">2016-06-06  16:48:45</i>
                                                <i class="orderNum">订单号：201606060089</i>
                                            </div>
                                            <div class="itemsBox clearfix">
                                                <div class="items fl">
                                                    <div class="itemDetail clearfix">
                                                        <div class="picBox fl"><a href="#"><img src="../../images/D-order-item_03.jpg"></a></div>
                                                        <p class="itemName fl"><a href="#">HP惠普15-bdoo1tx/x5p5-8pA/i3超极本</a></p>
                                                        <i class="itemNum fl">X10</i>
                                                    </div>
                                                    <div class="itemDetail clearfix">
                                                        <div class="picBox fl"><a href="#"><img src="../../images/D-order-item_03.jpg"></a></div>
                                                        <p class="itemName fl"><a href="#">HP惠普15-bdoo1tx/x5p5-8pA/i3超极本</a></p>
                                                        <i class="itemNum fl">X10</i>
                                                    </div>
                                                    <div class="itemDetail clearfix">
                                                        <div class="picBox fl"><a href="#"><img src="../../images/D-order-item_03.jpg"></a></div>
                                                        <p class="itemName fl"><a href="#">HP惠普15-bdoo1tx/x5p5-8pA/i3超极本</a></p>
                                                        <i class="itemNum fl">X10</i>
                                                    </div>
                                                </div>
                                                <div class="otherDetail fl">
                                                    <ul class="clearfix">
                                                        <li><p>熊世军</p></li>
                                                        <li><p>3222.00</p></li>
                                                        <li>
                                                            <p>待收货</p>
                                                            <a href="#">订单详情</a>
                                                        </li>
                                                        <li><a href="#">再次购买</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p orderMain hide">
                                        <p>亲！您还没有订单哦！快去<a>首页逛逛</a>吧~~</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--我的收藏-->
                        <div class="section-list hide">
                            <h3>我的收藏</h3>
                            <div class="pro-list">
                                <h4>全部商品（<span>6</span>）</h4>
                                <div class="checkbox">
                                    <input type="checkbox" class="all-del">
                                    <a href="javascript:;">全部</a>
                                    <a href="javascript:;" class="delete-list">删除</a>
                                    <a href="javascript:;">加入购物车</a>
                                    <div class="page fr">
                                        <span >&lt;</span>
                                        <p class="fl"><b>1</b>/1</p>
                                        <span>&gt;</span>
                                    </div>
                                </div>
                                <div class="collect-list">
                                    <ul class="nav-list clearfix">
                                        <li>
                                            <input type="checkbox">
                                            <div class="product-img">
                                                <img src="../../images/d-product01.png">
                                            </div>
                                            <b>¥2800.00</b>
                                            <p>HP惠普15-bdoo1tx/x5p5-8pA/i3超极本</p>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                            <div class="product-img">
                                                <img src="../../images/d-product01.png">
                                            </div>
                                            <b>¥2800.00</b>
                                            <p>HP惠普15-bdoo1tx/x5p5-8pA/i3超极本</p>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                            <div class="product-img">
                                                <img src="../../images/d-product01.png">
                                            </div>
                                            <b>¥2800.00</b>
                                            <p>HP惠普15-bdoo1tx/x5p5-8pA/i3超极本</p>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                            <div class="product-img">
                                                <img src="../../images/d-product01.png">
                                            </div>
                                            <b>¥2800.00</b>
                                            <p>HP惠普15-bdoo1tx/x5p5-8pA/i3超极本</p>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                            <div class="product-img">
                                                <img src="../../images/d-product01.png">
                                            </div>
                                            <b>¥2800.00</b>
                                            <p>HP惠普15-bdoo1tx/x5p5-8pA/i3超极本</p>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                            <div class="product-img">
                                                <img src="../../images/d-product01.png">
                                            </div>
                                            <b>¥2800.00</b>
                                            <p>HP惠普15-bdoo1tx/x5p5-8pA/i3超极本</p>
                                        </li>
                                        <li>
                                            <input type="checkbox">
                                            <div class="product-img">
                                                <img src="../../images/d-product01.png">
                                            </div>
                                            <b>¥2800.00</b>
                                            <p>HP惠普15-bdoo1tx/x5p5-8pA/i3超极本</p>
                                        </li>
                                    </ul>
                                    <div class="checkbox">
                                        <input type="checkbox" class="all-del">
                                        <a href="javascript:;">全部</a>
                                        <a href="javascript:;" class="delete-list">删除</a>
                                        <a href="javascript:;">加入购物车</a>
                                        <div class="page fr">
                                            <span >&lt;</span>
                                            <p class="fl"><b>1</b>/1</p>
                                            <span>&gt;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="shoucang collect-list hide">
                                    亲，您还没有收藏的商品，快去<a href="javascript:;" class="index-collect">首页</a>逛逛吧~~
                                </div>
                            </div>
                        </div>
                        <!--个人信息-->
                        <div class="section-list hide">
                            <h3>个人信息</h3>
                            <div class="edit-message">
                                <a href="javascript:;" data-reveal-id="myModalaa" data-animation="fade" class="edit">编辑</a>
                                <div class="message">
                                    <p><b>公司名字：</b><span>北京宜信科技责任有限公司</span></p>
                                    <p><b>注册时间：</b><span>2016-08-27 </span></p>
                                    <p><b>所在区域：</b><span>北京 朝阳  望京  悠乐汇 D座 302</span></p>
                                    <p><b>联系人：</b><span>立成荫</span></p>
                                    <p><b>注册手机：</b><span>15810268956</span><a href="javascript:;"  data-reveal-id="myModalee" data-animation="fade" class="revise">修改</a></p>
                                    <p><b>固定电话：</b><span>010-87678976</span></p>
                                    <p><b>邮箱：</b><span>liuhu343@126.com</span></p>
                                </div>
                            </div>
                        </div>
                        <!--收货地址-->
                        <div class="section-list Address hide">
                            <div class="title">收货地址</div>
                            <div class="addressDetail">
                                <div class="detailTop">
                                    <p>您已创建3个收货地址。最多可创建10个</p>
                                    <a class="addNew" data-reveal-id="myModal" data-animation="fade" href="javascript:;">新增收货地址</a>
                                </div>
                                <div class="allAddress">
                                    <div class="myAddress">
                                        <a class="delete" data-reveal-id="myModalbb" data-animation="fade">X</a>
                                        <a class="edit" data-reveal-id="editModal" data-animation="fade" href="javascript:;">编辑</a>
                                        <div class="default">默认地址</div>
                                        <div class="person">
                                            <strong>李werq友</strong>
                                            <strong>南京</strong>
                                        </div>
                                        <div class="content">
                                            <div class="text"><span>公司名称：</span><i>南京雨欣科技有限责任公司</i></div>
                                            <div class="text"><span>收货人：</span><i>李成友    南京</i></div>
                                            <div class="text"><span>所在地区：</span><i>北京市朝阳区</i></div>
                                            <div class="text"><span>详细地址：</span><i>朝阳区 望京悠乐汇 E座908</i></div>
                                            <div class="text"><span>手机：</span><i>158****3445</i></div>
                                            <div class="text"><span>固定电话：</span><i></i></div>
                                            <div class="text"><span>电子邮箱：</span><i>li****893@126.com</i></div>
                                        </div>
                                    </div>
                                    <div class="myAddress">
                                        <a class="delete" data-reveal-id="myModalbb" data-animation="fade">X</a>
                                        <a class="edit" data-reveal-id="editModal" data-animation="fade" href="javascript:;">编辑</a>
                                        <div class="default">默认地址</div>
                                        <div class="person">
                                            <strong>李bbbb友</strong>
                                            <strong>南京</strong>
                                        </div>
                                        <div class="content">
                                            <div class="text"><span>公司名称：</span><i>南京雨欣科技有限责任公司</i></div>
                                            <div class="text"><span>收货人：</span><i>李成友    南京</i></div>
                                            <div class="text"><span>所在地区：</span><i>北京市朝阳区</i></div>
                                            <div class="text"><span>详细地址：</span><i>朝阳区 望京悠乐汇 E座908</i></div>
                                            <div class="text"><span>手机：</span><i>158****3445</i></div>
                                            <div class="text"><span>固定电话：</span><i></i></div>
                                            <div class="text"><span>电子邮箱：</span><i>li****893@126.com</i></div>
                                        </div>
                                    </div>
                                    <div class="myAddress">
                                        <a class="delete" data-reveal-id="myModalbb" data-animation="fade">X</a>
                                        <a class="edit" data-reveal-id="editModal" data-animation="fade" href="javascript:;">编辑</a>
                                        <div class="default">默认地址</div>
                                        <div class="person">
                                            <strong>李cccccccc</strong>
                                            <strong>南京</strong>
                                        </div>
                                        <div class="content">
                                            <div class="text"><span>公司名称：</span><i>南京雨欣科技有限责任公司</i></div>
                                            <div class="text"><span>收货人：</span><i>李成友    南京</i></div>
                                            <div class="text"><span>所在地区：</span><i>北京市朝阳区</i></div>
                                            <div class="text"><span>详细地址：</span><i>朝阳区 望京悠乐汇 E座908</i></div>
                                            <div class="text"><span>手机：</span><i>158****3445</i></div>
                                            <div class="text"><span>固定电话：</span><i></i></div>
                                            <div class="text"><span>电子邮箱：</span><i>li****893@126.com</i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--意见反馈-->
                        <div class="section-list suggestion hide">
                            <p class="title-list">意见建议</p>
                            <p class="art-list">意见建议内容</p>
                            <textarea>请留下您的宝贵意见，我们将不断改进</textarea>
                            <p class="comm">联系电话/邮箱</p>
                            <input type="text">
                            <p class="suggestion-txt">（我们将对您的资料严格保密，不会给您发送垃圾信息）</p>
                            <a class="suggestion-submit">提交</a>
                        </div>
                    </div>
                </div>
                <!--订单详情-->
                <div class="ordering hide">
                    <div class="word">
                        <a href="javascript:;">首页 &gt;</a>
                        <a href="javascript:;">我的合电站 &gt;</a>
                        <a href="javascript:;">我的订单 &gt;</a>
                        <a href="javascript:;">订单详情 &gt;</a>
                    </div>
                    <div class="Main mainTop">
                        <div class="left fl">
                            <h3>订单号：</h3>
                            <p>201606060089</p>
                            <h2>待收货</h2>
                            <h4>打印订单</h4>
                        </div>
                        <div class="right fl">
                            <h3>您的订单配送中，感谢您在合电站商城购物。</h3>
                            <ul>
                                <li>
                                    <img src="../../images/D01.jpg"/>
                                    <p>提交订单</p>
                                    <p>2016-06-06</p>
                                    <p>16:34:54</p>
                                </li>
                                <li>
                                    <img src="../../images/D02.jpg"/>
                                    <p>商品出库</p>
                                    <p>2016-06-06</p>
                                    <p>16:34:54</p>
                                </li>
                                <li>
                                    <img src="../../images/D03.jpg"/>
                                    <p>等待收货</p>
                                    <p>2016-06-06</p>
                                    <p>16:34:54</p>
                                </li>
                                <li>
                                    <img src="../../images/D04.jpg"/>
                                    <p>验货并付款</p>
                                    <p>2016-06-06</p>
                                    <p>16:34:54</p>
                                </li>
                                <li class="lastLi">
                                    <img src="../../images/D05.jpg"/>
                                    <p>完成</p>
                                    <p>2016-06-06</p>
                                    <p>16:34:54</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="Main mainCenter">
                        <dl>
                            <dt>收货信息</dt>
                            <dd>收货人：  刘一帆</dd>
                            <dd>　地址：  北京市朝阳区  望京悠
                                　　　　 乐汇  E 902</dd>
                            <dd>手机号：158****2897</dd>
                            <dd>　邮箱：l****@*****</dd>
                        </dl>
                        <dl>
                            <dt>配送信息</dt>
                            <dd>配送方式：  普通快递</dd>
                            <dd>运费:　　　¥0.00元</dd>
                            <dd>送货日期：  三季度后发生的风景</dd>
                            <dd>配送时间： 9:00-15:00</dd>
                        </dl>
                        <dl>
                            <dt>付款信息</dt>
                            <dd>付款方式： 货到付款</dd>
                            <dd>商品总额：¥0.00元</dd>
                            <dd>运费金额：¥0.00元</dd>
                            <dd>优惠：¥0.00元</dd>
                            <dd>积分兑换：¥0.00元</dd>
                            <dd>应支付金额：¥0.00元</dd>
                        </dl>
                        <dl class="lastDl">
                            <dt>发票信息</dt>
                            <dd>发票类型：  增值税发票</dd>
                            <dd>发票抬头：  北京易鑫科技有限
                                　　　　　 责任公司</dd>
                            <dd>发票内容：  明细</dd>
                        </dl>
                    </div>
                    <div class="Main mainBot">
                        <ul class="firstUl">
                            <li class="firstLi">商品信息</li>
                            <li>数量</li>
                            <li>金额</li>
                            <li>操作</li>
                        </ul>
                        <ul>
                            <li class="firstLi">
                                <div class="pic fl">
                                    <img src="../../images/D-com.jpg" alt="">
                                </div>
                                <p>HP惠普15-bdoo1tx/x5p5-</p>
                                <p class="lastP">8pA/i3超极本</p>
                            </li>
                            <li><p>X10</p></li>
                            <li><p>3222.00</p></li>
                            <li><p>再次购买</p></li>
                        </ul>
                        <ul>
                            <li class="firstLi">
                                <div class="pic fl">
                                    <img src="../../images/D-com.jpg" alt="">
                                </div>
                                <p>HP惠普15-bdoo1tx/x5p5-</p>
                                <p class="lastP">8pA/i3超极本</p>
                            </li>
                            <li><p>X10</p></li>
                            <li><p>3222.00</p></li>
                            <li><p>再次购买</p></li>
                        </ul>
                        <ul>
                            <li class="firstLi">
                                <div class="pic fl">
                                    <img src="../../images/D-com.jpg" alt="">
                                </div>
                                <p>HP惠普15-bdoo1tx/x5p5-</p>
                                <p class="lastP">8pA/i3超极本</p>
                            </li>
                            <li><p>X10</p></li>
                            <li><p>3222.00</p></li>
                            <li><p>再次购买</p></li>
                        </ul>
                    </div>
                </div>
                <div class="ordering order-ok hide">
                    <div class="word">
                        <a href="javascript:;">首页 &gt;</a>
                        <a href="javascript:;">我的合电站 &gt;</a>
                        <a href="javascript:;">我的订单 &gt;</a>
                        <a href="javascript:;">订单详情 &gt;</a>
                    </div>
                    <div class="Main mainTop">
                        <div class="left fl">
                            <h3>订单号：</h3>
                            <p>201606060089</p>
                            <h2>完成</h2>
                            <h4>打印订单</h4>
                        </div>
                        <div class="right fl">
                            <h3>您的订单已完成，感谢您在合电站商城购物。</h3>
                            <ul>
                                <li>
                                    <img src="../../images/D01.jpg"/>
                                    <p>提交订单</p>
                                    <p>2016-06-06</p>
                                    <p>16:34:54</p>
                                </li>
                                <li>
                                    <img src="../../images/D02.jpg"/>
                                    <p>商品出库</p>
                                    <p>2016-06-06</p>
                                    <p>16:34:54</p>
                                </li>
                                <li>
                                    <img src="../../images/D03-1.jpg"/>
                                    <p>等待收货</p>
                                    <p>2016-06-06</p>
                                    <p>16:34:54</p>
                                </li>
                                <li>
                                    <img src="../../images/D04-1.jpg"/>
                                    <p>验货并付款</p>
                                    <p>2016-06-06</p>
                                    <p>16:34:54</p>
                                </li>
                                <li class="lastLi">
                                    <img src="../../images/D05-1.jpg"/>
                                    <p>完成</p>
                                    <p>2016-06-06</p>
                                    <p>16:34:54</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="Main mainCenter">
                        <dl>
                            <dt>收货信息</dt>
                            <dd>收货人：  刘一帆</dd>
                            <dd>　地址：  北京市朝阳区  望京悠
                                　　　　 乐汇  E 902</dd>
                            <dd>手机号：158****2897</dd>
                            <dd>　邮箱：l****@*****</dd>
                        </dl>
                        <dl>
                            <dt>配送信息</dt>
                            <dd>配送方式：  普通快递</dd>
                            <dd>运费:　　　¥0.00元</dd>
                            <dd>送货日期：  三季度后发生的风景</dd>
                            <dd>配送时间： 9:00-15:00</dd>
                        </dl>
                        <dl>
                            <dt>付款信息</dt>
                            <dd>付款方式： 货到付款</dd>
                            <dd>商品总额：¥0.00元</dd>
                            <dd>运费金额：¥0.00元</dd>
                            <dd>优惠：¥0.00元</dd>
                            <dd>积分兑换：¥0.00元</dd>
                            <dd>应支付金额：¥0.00元</dd>
                        </dl>
                        <dl class="lastDl">
                            <dt>发票信息</dt>
                            <dd>发票类型：  增值税发票</dd>
                            <dd>发票抬头：  北京易鑫科技有限
                                　　　　　 责任公司</dd>
                            <dd>发票内容：  明细</dd>
                        </dl>
                    </div>
                    <div class="Main mainBot">
                        <ul class="firstUl">
                            <li class="firstLi">商品信息</li>
                            <li>数量</li>
                            <li>金额</li>
                            <li>操作</li>
                        </ul>
                        <ul>
                            <li class="firstLi">
                                <div class="pic fl">
                                    <img src="../../images/D-com.jpg" alt="">
                                </div>
                                <p>HP惠普15-bdoo1tx/x5p5-</p>
                                <p class="lastP">8pA/i3超极本</p>
                            </li>
                            <li><p>X10</p></li>
                            <li><p>3222.00</p></li>
                            <li><p>再次购买</p></li>
                        </ul>
                        <ul>
                            <li class="firstLi">
                                <div class="pic fl">
                                    <img src="../../images/D-com.jpg" alt="">
                                </div>
                                <p>HP惠普15-bdoo1tx/x5p5-</p>
                                <p class="lastP">8pA/i3超极本</p>
                            </li>
                            <li><p>X10</p></li>
                            <li><p>3222.00</p></li>
                            <li><p>再次购买</p></li>
                        </ul>
                        <ul>
                            <li class="firstLi">
                                <div class="pic fl">
                                    <img src="../../images/D-com.jpg" alt="">
                                </div>
                                <p>HP惠普15-bdoo1tx/x5p5-</p>
                                <p class="lastP">8pA/i3超极本</p>
                            </li>
                            <li><p>X10</p></li>
                            <li><p>3222.00</p></li>
                            <li><p>再次购买</p></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="myModal" class="reveal-modal window01">
                <div class="top">
                    <h2 class="fl">新增服务地址</h2>
                    <a href="javascript:;" class="fr closeBtn">X</a>
                </div>
                <div class="main">
                    <div class="list">
                        <h3>公司全称</h3>
                        <input type="text" class="inputLar">
                    </div>
                    <div class="list">
                        <h3>所在区域</h3>
                        <select name="" class="select">
                            <option value="" selected>--请选择--</option>
                        </select>
                    </div>
                    <div class="list">
                        <h3>详细地址</h3>
                        <input type="text" class="inputLar" placeholder="街道、办公楼、门牌号">
                    </div>
                    <div class="list">
                        <h3>收货人</h3>
                        <input type="text" class="inputLar">
                    </div>
                    <div class="box">
                        <div class="list fl">
                            <h3>手机号码</h3>
                            <input type="text" class="inputTele">
                        </div>
                        <span>或</span>
                        <div class="list fr">
                            <h3>固定电话</h3>
                            <input type="text" class="inputTele">
                        </div>
                    </div>
                    <div class="list lastList">
                        <h3>邮箱</h3>
                        <input type="text" class="inputLar">
                    </div>
                    <div class="clickNor">
                        <p>保存地址</p>
                    </div>
                </div>
            </div>
            <div id="editModal" class="reveal-modal window01">
                <div class="top">
                    <h2 class="fl">编辑收货地址</h2>
                    <a href="javascript:;" class="fr closeBtn">X</a>
                </div>
                <div class="main">
                    <div class="list">
                        <h3>公司全称</h3>
                        <input type="text" class="inputLar">
                    </div>
                    <div class="list">
                        <h3>所在区域</h3>
                        <select name="" class="select">
                            <option value="" selected>--请选择--</option>
                        </select>
                    </div>
                    <div class="list">
                        <h3>详细地址</h3>
                        <input type="text" class="inputLar" placeholder="街道、办公楼、门牌号">
                    </div>
                    <div class="list">
                        <h3>收货人</h3>
                        <input type="text" class="inputLar">
                    </div>
                    <div class="box">
                        <div class="list fl">
                            <h3>手机号码</h3>
                            <input type="text" class="inputTele">
                        </div>
                        <span>或</span>
                        <div class="list fr">
                            <h3>固定电话</h3>
                            <input type="text" class="inputTele">
                        </div>
                    </div>
                    <div class="list lastList">
                        <h3>邮箱</h3>
                        <input type="text" class="inputLar">
                    </div>
                    <div class="clickNor">
                        <p>保存地址</p>
                    </div>
                </div>
            </div>
            <div id="myModalaa" class="reveal-modal window01 window02">
                <div class="top">
                    <h2 class="fl">编辑注册信息</h2>
                    <a href="javascript:;" class="fr closeBtn">X</a>
                </div>
                <div class="main">
                    <div class="list">
                        <h3>公司全称</h3>
                        <input type="text" class="inputLar">
                    </div>
                    <div class="list">
                        <h3>所在区域</h3>
                        <select name="" class="select">
                            <option value="" selected>--请选择--</option>
                        </select>
                    </div>
                    <div class="list">
                        <h3>详细地址</h3>
                        <input type="text" class="inputLar" placeholder="街道、办公楼、门牌号">
                    </div>
                    <div class="list">
                        <h3>收货人</h3>
                        <input type="text" class="inputLar">
                    </div>
                    <div class="box">
                        <div class="list">
                            <h3>手机号码</h3>
                            <p class="fl">15845623245</p>
                            <a href="javascript:;">修改</a>
                        </div>
                        <div class="list">
                            <h3>固定电话</h3>
                            <input type="text" class="inputLar">
                        </div>
                    </div>
                    <div class="list lastList">
                        <h3>邮箱</h3>
                        <input type="text" class="inputLar">
                    </div>
                    <div class="clickNor">
                        <p>保存修改</p>
                    </div>
                </div>
            </div>
            <div id="myModalbb" class="reveal-modal window01 window03">
                <div class="top">
                    <h2 class="fl">删除</h2>
                    <a href="javascript:;" class="fr closeBtn">X</a>
                </div>
                <div class="main">
                    <div class="mainTop">
                        <div class="fl pic">
                            <img src="../../images/warn.jpg" alt="">
                        </div>
                        <p class="fl">您确定要删除该收获地址吗？</p>
                    </div>
                    <div class="mainBot">
                        <div class="clickGray fl" id="confirm">确定</div>
                        <div class="clickGray fl closeBtn">取消</div>
                    </div>
                </div>
            </div>
            <div id="myModalee" class="reveal-modal window01 window04 window05 window06">
                <div class="top">
                    <h2 class="fl">修改手机号</h2>
                    <a href="javascript:;" class="fr closeBtn">X</a>
                </div>
                <div class="main">
                    <ul>
                        <li>
                            <img src="../../images/red01.jpg" alt="">
                            <p>输入新手机号</p>
                        </li>
                        <li>
                            <img src="../../images/gary002.jpg" alt="">
                            <p>发送验证码</p>
                        </li>
                        <li class="lastLi">
                            <img src="../../images/gary03.jpg" alt="">
                            <p>完成</p>
                        </li>
                    </ul>
                    <h4>已登录手机号：15810732776</h4>
                    <div class="line">
                        <p class="fl">　　新手机号：+186</p><input type="text" class="inputSpe fl">
                    </div>
                    <h5>请确保输入的手机号能正常接收验证码，手机号才能生效！</h5>
                    <a class="clickDone" href="javascript:;"  data-reveal-id="myModaldd" data-animation="fade">下一步</a>
                </div>
            </div>
        </div>

        <!--图片轮播区域-->
        <div class="guess">
            <div class="inner">
            <ul class="title">
                <li class="choose">猜你喜欢</li>
                <li>我的收藏</li>
            </ul>
            <div class="clear"></div>
            <div class="box">
                <div class="picbox">
                    <ul class="piclist mainlist">
                        <li><a href="#" target="_blank"><img src="../../images/liu_buyCar_04_03.png"/>
                            <p>HP惠普15-bdoo1tx/x5p5-</br>
                                8pA/i3超极本</p>
                            <span>¥1999.00</span>
                            <a href=":;javascript" class="in">加入购物车</a></a></li>
                        <li><a href="#" target="_blank"><img src="../../images/liu_buyCar_04_03.png"/>
                            <p>HP惠普15-bdoo1tx/x5p5-</br>
                                8pA/i3超极本</p>
                            <span>¥1999.00</span>
                            <a href=":;javascript" class="in">加入购物车</a></a></li>
                        <li><a href="#" target="_blank"><img src="../../images/liu_buyCar_04_03.png"/>
                            <p>HP惠普15-bdoo1tx/x5p5-</br>
                                8pA/i3超极本</p>
                            <span>¥1999.00</span>
                            <a href=":;javascript" class="in">加入购物车</a></a></li>
                        <li><a href="#" target="_blank"><img src="../../images/liu_buyCar_04_03.png"/>
                            <p>HP惠普15-bdoo1tx/x5p5-</br>
                                8pA/i3超极本</p>
                            <span>¥1999.00</span>
                            <a href=":;javascript" class="in">加入购物车</a></a></li>
                        <li><a href="#" target="_blank"><img src="../../images/liu_buyCar_04_03.png"/>
                            <p>HP惠普15-bdoo1tx/x5p5-</br>
                                8pA/i3超极本</p>
                            <span>¥1999.00</span>
                            <a href=":;javascript" class="in">加入购物车</a></a></li>
                        <li><a href="#" target="_blank"><img src="../../images/liu_buyCar_04_03.png"/>
                            <p>HP惠普15-bdoo1tx/x5p5-</br>
                                8pA/i3超极本</p>
                            <span>¥1999.00</span>
                            <a href=":;javascript" class="in">加入购物车</a></a></li>
                        <li><a href="#" target="_blank"><img src="../../images/liu_buyCar_04_03.png"/>
                            <p>HP惠普15-bdoo1tx/x5p5-</br>
                                8pA/i3超极本</p>
                            <span>¥1999.00</span>
                            <a href=":;javascript" class="in">加入购物车</a></a></li>
                        <li><a href="#" target="_blank"><img src="../../images/liu_buyCar_04_03.png"/>
                            <p>HP惠普15-bdoo1tx/x5p5-</br>
                                8pA/i3超极本</p>
                            <span>¥1999.00</span>
                            <a href=":;javascript" class="in">加入购物车</a></a></li>
                    </ul>
                    <ul class="piclist swaplist"></ul>
                </div>
                <div class="og_prev"></div>
                <div class="og_next"></div>
            </div>
            </div>
        </div>



        <!--底部-->
        <div class="footer">
            <div class="inner footer-top">
                <div class="footer-list">
                    <dl>
                        <dt><a href="">新手入门</a></dt>
                        <dd><a>新用户注册</a></dd>
                        <dd><a>找回密码</a></dd>
                        <dd><a>FAQ</a></dd>
                    </dl>
                    <dl>
                        <dt><a></a>采购指南</dt>
                        <dd><a>如何查找商品</a></dd>
                        <dd><a>一站式采购</a></dd>
                        <dd><a></a>代理品牌目录</dd>
                    </dl>
                    <dl>
                        <dt><a></a>代理商服务</dt>
                        <dd><a></a>客户认证</dd>
                        <dd><a></a>管理您的生意</dd>
                        <dd><a></a>积分兑换</dd>
                    </dl>
                    <dl class="last-list">
                        <dt><a>供应链服务</a></dt>
                        <dd><a>支付方式</a></dd>
                        <dd><a>货运及验收</a></dd>
                        <dd><a>发票管理</a></dd>
                    </dl>
                </div>
            </div>
            <div class="inner footer-bot">
                <ul>
                    <li><a>合电站简介</a><span>|</span></li>
                    <li><a>合作伙伴</a><span>|</span></li>
                    <li><a>法律声明</a><span>|</span></li>
                    <li><a>联系方式</a></li>
                </ul>
                <p>Copyright &copy;2000-2015  一新科技  京ICP备09004081号-2  京公网安备110108400105号</p>
            </div>
        </div>
    </div>
</body>
</html>