@charset "utf-8";
/*reset*/
body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,hr,blockquote,object,iframe,fieldset,input,legend,form,th,td{margin:0;padding:0}
body,input,textarea,keygen,select,button,isindex{font:14px/24px Verdana,Tahoma,"Lucida Grande","\5FAE\8F6F\96C5\9ED1";color:#333;word-break:break-all}
ul,ol,li{list-style:none}
img{border:none}

/*common*/
h1,h2,h3,h4,h5,h6{font-weight:normal}
h1{font-size:24px}h2{font-size:20px}h3{font-size:18px}h4{font-size:16px}h5{font-size:14px}h6{font-size:14px}
i,b,em{font-style:normal;font-weight:normal}
table{border-collapse:collapse;border-spacing:0; width:100%; background:#fff}
td{padding:3px 5px;}
th{font-weight:normal; background:#e7f4fe; height:40px}
table,td,th{ border:1px solid #ddd}
table caption{ font-size:16px; text-align:left; padding-bottom:10px}

.fl{float:left}
.fr{float:right}
.clearBoth{clear:both}
.mc{margin:0 auto}
.pr{position:relative;*zoom:1}
.pa{position:absolute}
.tc{text-align:center}
.tl{text-align:left !important}
.tr{text-align:right !important}


