<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../js/jquery-1.6.min.js"></script>
    <script src="../../js/jquery.placeholder.min.js"></script>
    <link href="../../css/base.css" rel="stylesheet">
    <link href="../../css/lostpasswordthird.css" rel="stylesheet">
</head>
<body>
<div class="header">
    <div class="inner">
        <a href="../../index.html"><img class="logo fl" src="../../images/re_logo02.jpg"></a>
        <h2 class="fl">重置密码</h2>
    </div>
</div>
<div class="section">
    <div class="inner">
        <div class="innerBox ">
            <p class="fl">忘记密码</p>
            <div class="form">
                <ul>
                    <li class="fl">
                        <img src="../../images/re_icon01.jpg">
                        <p>输入账户名</p>
                    </li>
                    <li class="fl marginboth">
                        <img src="../../images/re_icon08.jpg">
                    </li>
                    <li class="fl">
                        <img src="../../images/re_icon03.jpg">
                        <p>发送验证码</p>
                    </li>
                    <li class="fl marginboth">
                        <img src="../../images/re_icon08.jpg">
                    </li>
                    <li class="fl">
                        <img src="../../images/re_icon05.jpg">
                        <p>重置密码</p>
                    </li>
                    <li class="fl marginboth">
                        <img src="../../images/re_icon09.jpg">
                    </li>
                    <li class="fl">
                        <img src="../../images/re_icon06.jpg">
                        <p>完成</p>
                    </li>
                </ul>
                <p class="fl">新密码：</p><input class="fl" id="newPassword" type="password" placeholder="6-12位字符，字母/数字或符号组合">
                <p class="fl margintop33px" >再次输入新密码：</p><input class="fl" id="verifyPassword" type="password">
                <a href="lostpasswordlast.html"><input id="nextbtn3" type="button" value="确定"></a>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="inner">
        <ul class="subnav">
            <li class="fl">
                <ul>
                    <li><span>新手入门</span></li>
                    <li><a href="#">新用户注册</a></li>
                    <li><a href="#">找回密码</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </li>
            <li class="fl margin_left1">
                <ul>
                    <li><span>采购指南</span></li>
                    <li><a href="#">如何查找商品</a></li>
                    <li><a href="#">一站式采购</a></li>
                    <li><a href="#">代理品牌目录代=</a></li>
                </ul>
            </li>
            <li class="fl margin_left2">
                <ul>
                    <li><span>代理商服务客</span></li>
                    <li><a href="#">户认证</a></li>
                    <li><a href="#">管理您的生意</a></li>
                    <li><a href="#">积分兑换</a></li>
                </ul>
            </li>
            <li class="fr">
                <ul>
                    <li><span>供应链服务</span></li>
                    <li><a href="#">支付方式</a></li>
                    <li><a href="#">货运及验收</a></li>
                    <li><a href="#">发票管理</a></li>
                </ul>
            </li>
        </ul>
        <ul class="thirdnav clearfix">
            <li class="fl"><a href="">合电站简介</a></li>
            <li class="fl"><span>|</span></li>
            <li class="fl"><a href="">合作伙伴</a></li>
            <li class="fl"><span>|</span></li>
            <li class="fl"><a href="">法律声明</a></li>
            <li class="fl"><span>|</span></li>
            <li class="fl"><a href="">联系方式</a></li>
        </ul>
        <p class="copyright">Copyright&nbsp©&nbsp2000-2015&nbsp&nbsp一新科技&nbsp&nbsp京ICP备09004081号-2&nbsp&nbsp京公网安备110108400105号</p>
    </div>
</div>
<script>
    $(function(){ $('input, textarea').placeholder(); });
</script>
</body>
</html>