<ion-view id="news">
    <ion-nav-bar class="bar-light">
        <ion-nav-back-button>
            <i class="button button-clear icon ion-ios-arrow-back"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-title class="ion-nav-title">
        <p>消息中心</p>
    </ion-nav-title>
    <ion-content>
        <ul class="list card" id="news-list">
            <li class="item item-avatar-left" ui-sref="notice">
                <img src="images/news1.jpg">
                <p>通知<i class="icon ion-chevron-right tjt"></i></p>
            </li>
            <li class="item item-avatar-left" ui-sref="comment">
                <img src="images/news2.jpg">
                <p>评论 <i class="icon ion-chevron-right tjt"></i></p>

            </li>
            <li class="item item-avatar-left" ui-sref="friend">
                <img src="images/news3.jpg">
                <p>新的好友<i class="icon ion-chevron-right tjt"></i></p>
            </li>
            <li class="item item-avatar-left" ui-sref="praise">
                <img src="images/news4.jpg">
                <p>赞<i class="icon ion-chevron-right tjt"></i></p>
            </li>
        </ul>
    </ion-content>
</ion-view>