<ion-tabs class="tabs-light tabs-icon-top tabs-color-active-assertive" id="ion-tabs">
    <!--首页-->
    <ion-tab title="首页" icon-on="ion-ios-home " icon-off="ion-ios-home-outline" ui-sref="tabs.home">
        <ion-nav-view name="tab_home"></ion-nav-view>
    </ion-tab>
    <!--好物-->
    <ion-tab title="好物" icon-on="ion-android-favorite" icon-off="ion-android-favorite-outline" ui-sref="tabs.love">
        <ion-nav-view name="tab_love"></ion-nav-view>
    </ion-tab>
    <!--分类-->
    <ion-tab title="分类" icon-on="ion-ios-keypad" icon-off="ion-ios-keypad-outline" ui-sref="tabs.classify">
        <ion-nav-view name="tab_classify"></ion-nav-view>
    </ion-tab>
    <!--消息-->
    <ion-tab title="消息" icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline" ui-sref="tabs.news">
        <ion-nav-view name="tab_news"></ion-nav-view>
    </ion-tab>
    <!--我-->
    <ion-tab title="我" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="tabs.myself">
        <ion-nav-view name="tab_myself"></ion-nav-view>
    </ion-tab>
</ion-tabs>
