body{background-color: #f5f5f5}
.inner{ width: 1000px; margin: 0 auto;}
.header{height: 111px;}
.footer{background: #eee;padding-top: 41px;}
/*头部*/
.header .inner a img{margin: 60px 0 20px 0;}
.header .inner h2{margin: 82px 0 0 24px;font-size: 24px;font-weight: normal;}

/*登陆部分*/
.innerBox{width: 860px;height: 625px; background: #fff;border: 1px solid #bfbfbf;margin: 20px 0 39px 0;padding: 55px 69px 0;}
.innerBox p{font-size: 20px;}
.form{border-top: 1px solid #e5e5e5;margin-top: 39px;padding-top: 20px;}
.marginboth{margin: 0 29px;}
.form ul{margin:29px 0 253px 89px}
.form ul li {position: relative;}
.form ul li p{position: absolute;width: 117px;left: -26px;top: 99px;text-align: center;font-size: 16px;margin-top: 0}
.form p{text-align: right;font-size: 16px;width: 259px;margin-top: 13px;}
.form h3{font-size: 16px;font-weight:normal;margin-left: 158px;margin-bottom: 20px;}
#verificationCode{width: 191px;height: 38px;border: 1px solid #e5e5e5;padding-left: 7px;font-size: 16px;line-height: 38px;}
.replaceGet{ width: 120px;height: 40px;background: #e5e5e5;line-height: 40px;text-align: center;margin-left: 37px;color: #fdfdfd;font-size: 16px;}
#nextbtn2{width: 300px;height: 40px;border-radius: 2px;color: #fff;background: #f84748;font-size: 16px;margin:125px 0 0 280px;}
/*底部*/
.subnav{width: 800px;height: 135px;display: block;margin: 41px 0 24px 94px;border-bottom: 1px solid #333;}
.margin_left1{margin-left: 153px;}
.margin_left2{margin-left: 135px;}
.subnav li ul li{margin-bottom: 11px;font-size: 14px;}
.subnav li ul li a{color: #000;}
.subnav li ul li span{ font-size: 18px;margin-bottom: 13px;}

.thirdnav{margin: 0 auto;display:block;width: 450px;}
.thirdnav li{font-size: 18px;}
.thirdnav li a{color: #000;}
.thirdnav li span{ margin: 0 20px;}

.copyright{font-size: 18px;text-align: center;margin-top: 14px;margin-bottom: 26px;}