<ion-view view-title="猫的信息" class="animated bounceInLeft">
    <ion-nav-bar class="bar-calm" ></ion-nav-bar>
    <ion-nav-buttons>
        <div class="button-bar item-button-left item-button-right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            <button class="button button-clear" ui-sref="tabs.whatsNew">
                <i class="icon ion-android-home"></i>
            </button>
        </div>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-item><p>这里是我的Fav
            这里是我的Fav
            这里是我的Fav
            这里是我的Fav
            这里是我的Fav
            这里是我的Fav</p>
        </ion-item>
    </ion-content>
</ion-view>