*{font-family: '微软雅黑'}
.navbar-right { float: right !important; margin-right: 5px;}
.navbar-text { margin-right: 10px; }
.i_title{
    width: 100%;
    text-align: center;
    background: url("../images/bg1.png");
}
.navbar-inverse{
    border-radius: 0;
    margin: 0;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-text span{color: #55ddff}
.footer{background: url("../images/bg2.jpg");width: 100%;height: 150px;}
.panel{margin: 0;padding-top: 20px;border:none;box-shadow: none;}
.main1{
    min-height: 664px
}
.panel .col-xs-8{margin-bottom: 20px}
.footer .p1{
    padding-top: 50px;
    font-size: 16px;
}
.footer p{
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}
.shangpin{
    width: 150px;
    height: 150px;
    overflow: hidden;
}
.shangpin img{width: 100%}
/*****************************************/
.navbar-right {
    float: right !important;
    margin-right: 5px;
}

.navbar-text {
    margin-right: 10px;
}

/*angular动画样式 - 淡入的过程
    .ng-enter   .ng-enter-active
    .ng-leave   .ng-leave-active
*/
.ngFadeIn.ng-enter { opacity: 0; transition: 0.5s ease-in-out opacity;}
.ngFadeIn.ng-enter-active { opacity: 1; }

/*angular动画-滑入滑出*/
.ngViewContainer {
    position: absolute;
    width: 100%;
    display: block;
}

.ngViewContainer.ng-enter,
.ngViewContainer.ng-leave {
    -webkit-transition: 600ms linear all;
    transition: 600ms linear all;
}

.ngViewContainer.ng-enter {
    transform: translateX(1000px);
}

.ngViewContainer.ng-enter-active {
    transform: translateX(0px);
}

.ngViewContainer.ng-leave {
    transform: translateX(0px);
}

.ngViewContainer.ng-leave-active {
    transform: translateX(-2000px);
}
/*****************************************/
.h-checkoutSummary,.h-placeOrder{
    padding: 0 15%;
}
.inner>.table>thead>tr>th{
    text-align: center;
    font: 18px/24px "微软雅黑";
}
.inner>.table>tbody>tr>td{
    text-align: center;
    font: 16px/24px "微软雅黑";
    vertical-align:inherit;
}
.inner .h-img img{
    width: 50px;
}
.inner>.table>tbody>tr>.xiaji{
    color: #ff4400;
}
.inner>.table>tfoot>tr>td{
    font:20px/42px "微软雅黑";
}
.inner>.table>tfoot>tr>.h-total{
    text-align: center;
    color: #ff4400;
}

